.talk-grid {
    .talk { text-align: center; }
    td { border: 0; }
    td.talk-grid-time {
    border-bottom: 1px solid #444;
    border-top: 1px solid #444;
    vertical-align: top;
    padding-top: 0;
}
    td.talk { padding-bottom: 1em; padding-top: 1em; line-height: 1.2em; }
    .tag-cibo {
        background-color: adjust-color($c-bg, $lightness: -15%);
    }
}
