<table class="talk-grid rooms-{{-rooms|length}}">
    <thead>
        <tr>
            <th></th>
            {% for room in rooms %}
                <th>{{room}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for time in times|sort %}
        <tr>
            <td class="talk-grid-time">
                {{"%02d:%02d"|format((time // 100) % 24, time % 100)}}
            </td>
            {% for talk in times[time] %}
                {% if not loop.first and talk.room == '*' %}
                    {# skip: covered by colspan #}
                {% elif talk == None %}
                    <td></td>
                {% elif not talk.skip %}
                    <td id="t-cell-{{talk.id}}"  class="talk
                    {% if talk.room == '*' -%}allrooms{%endif-%}
                    {% for t in talk.tags %} tag-{{t|replace(' ', '_')}} {%endfor-%}
                    "
                        rowspan="{{talk.duration // timestep}}"
                        {% if talk.room == '*' %}colspan="{{rooms|length}}"{%endif%}>
                        <a href="#talk-{{talk.id}}"
                           title="{{talk.tags|join(",")}}"
                           >{{talk.title}}</a>
                    </td>
                {% endif %}
        {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{# vim: set ft=jinja: #}
