{% macro durata_human(d) %}
{%- if d >= 60 -%}{{d//60}}h{%- endif -%}
{%- if d % 60 != 0 -%}{{d%60}}m {%- endif -%}
{% endmacro %}
<div id="talk-{{id}}"
     class="{% for t in tags -%} tag-{{t|replace(' ', '_')}} {% endfor -%}">
    <h3 class="talk-title"><a href="#t-cell-{{id}}">{{title.strip()}}</a></h3>
    <div class="talk-info">
        <p>
        {% if time is defined and day is defined %}
            {# Vedi http://babel.pocoo.org/en/latest/dates.html #}
            <span>
                {{day|dateformat(format='EEEE', locale=lang)}}
                -
                {{time.time()|timeformat(format='short', locale=lang)}}
                {% if duration %} ({{durata_human(duration)}}) {% endif %}
            </span>
    {% else %}
        <i>L'orario non è ancora stato fissato</i>
        {% if duration %} <p>Durata: {{durata_human(duration)}}</p> {% endif %}
    {% endif %} {# date-time #}
    {% if room is defined %}
        <span>Stanza {{ room }}</span>
    {% endif %}
    </p>

    {% if needs: %}
<div class="talk-needs">
<strong>Materiale necessario:</strong>
{{needs|join(", ")}}
</div>
{% endif %}
    </div>
    <div class="talk-description">{{text | markdown}}
            {% if contacts: %}
                <p class="contacts">A cura di {{contacts|join(', ')}}</p>
            {% endif %}
</div>
    {% if links or resources or mail: %}
    <div class="talk-resources">
        <h4>Link utili:</h4>
        <ul>
            {% if links is defined: %}
                {% for link in links %}
                    <li>{{link|urlize}}</li>
                {% endfor %}
            {% endif %}
            {% if resources is defined: %}
                <li><a href="{{resources}}/">Materiali</a></li>
            {% endif %}
            {% if mail is defined and mail: %}
                <li><a href="{{mail}}">Mail</a></li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
</div>

{# vim: set ft=jinja: #}
